.main_container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.main_container section
{

}

.main_container aside
{

}

.form_container h1
{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #383C3E;
}

.form_container p
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.3px;
    color: rgb(115 123 125 / 0.96)
}

.form_container input
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: center;
    opacity: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
}

.row-of-inputs
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.form_container input:focus
{
    outline: none;
    border-bottom: 2px solid #383C3E;
    color: #383C3E;
}