body
{
    min-width: 320px;
}

.main_container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 10px;
}

.navbar ul
{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar a
{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #383C3E;
}

.navbar a.active_page
{
    border-bottom: 2px solid #008F17;
    padding-bottom: 0.5rem;
}

.menu_burger
{
    display: none;
}

.form_header h1
{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #383C3E;
}

.form_header p
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.3px;
    color: rgb(115 123 125 / 0.96)
}

.form_container input
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: center;
    opacity: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
    padding-left: 14px;
}

.row_of_inputs
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.form_container input:focus
{
    outline: none;
    border-bottom: 2px solid #383C3E;
    color: #383C3E;
}

.upload_container
{
    border: 1px dashed rgb(115 123 125 / 0.96);
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.upload_container p
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: rgb(115 123 125 / 0.96);
}

.submit-buttons
{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    width: 100%;
    padding: 12px;
    border: none;
    background: #008F17;
    color: white;
    cursor: pointer;
}

.form_container .hint
{
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 2rem;
}

.right_section
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: center;
}

.right_section p
{
    color: rgb(115 123 125 / 0.96);
    margin-top: 4px;
    margin-bottom: 14px;
}

.right_section h3
{
    font-size: 16px;
    color: #383C3E;
}

.contact_row
{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.contact_row p
{
    margin: 0;
}

.input_newsletter
{
    display: flex;
    align-items: flex-end;
    gap: 16px;
    position: relative;
}

.input_newsletter .error_text
{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 6px;
}

.input_newsletter input
{
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    outline: none;
    background: transparent;
    color: #383C3E;
    font-size: 14px;
    padding-left: 14px;
}

.input_newsletter button
{
    background: #008F17;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

.hint
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: rgb(115 123 125 / 0.96);
}

.nda_form
{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 1.5rem;
    margin-left: 10px;
}

.nda_form input
{
    width: auto;
    margin: 0;
    border-radius: 0;
}

.nda_form label
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-box-trim: NONE;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #383C3E;
}

@media (max-width: 768px)
{
    .logo
    {
        display: none;
    }

    .navbar
    {
        position: relative;
        justify-content: flex-start;
        padding-left: 0;
    }

    .navbar ul
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1rem 0;
        box-shadow: 0 10px 25px -5px rgb(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-15px);
        transition: all .3s;
    }

    .menu_burger
    {
        background: transparent;
        padding: 0;
        margin: 0;
        display: block;
        border: none;
    }

    .main_container
    {
       grid-template-columns: 1fr;
    }

    .form_header h1
    {
        font-size: 32px;
    }

    .row_of_inputs
    {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .navbar ul.show_menu
    {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .navbar ul li
    {
        padding: 12px 24px;
        text-align: left;
    }

    .navbar a
    {
        font-weight: 600;
    }
}

.error_text
{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    animation: fadeSlideIn 0.5s ease-in-out forwards;
    padding-left: 13px;
}

@keyframes  fadeSlideIn
{
    from
    {
        opacity: 0;
        transform: translatex(-15px);
    }
    to
    {
        opacity: 1;
        transform: translatex(0);
    }
}

.form_container input.item_error, .input_newsletter input.item_error
{
    border-bottom-color: transparent !important;
    background-image: linear-gradient(to right, red, red);
    background-position: left bottom;
    background-repeat: no-repeat;
    animation: drawBorder 0.5s ease-in-out forwards;
    margin-bottom: 4px;
}

@keyframes drawBorder
{
    from
    {
        background-size: 0 2px;
    }
    to
    {
        background-size: 100% 2px;
    }
}